@import url("resets.css");
 body {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}
header {
    width: 100%;
    padding: 20px 0;
}
header h1 {
    background-color: transparent;
    color: black;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}
header h3 {
    color: #999;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
}
header h3 span {
    color: #E8117F;
}
.container {
    max-width: 900px;
    margin: 0 auto;
}
.main-menu,
.advertisement {
    display: none;
}
.main-content,
.sidebar {
    float: left;
    box-sizing: border-box;
}
.main-content {
    width: 600px;
    padding-right: 20px;
}
.sidebar {
    width: 300px;
}
dt {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #777;
    color: #fff;
    font-size: 40px;
    border-radius: 100px;
    text-align: center;
    line-height: 60px;
}
dd {
    margin-left: 70px;
    margin-bottom: 30px;
}
dd h4 {
    font-weight: bold;
    margin-bottom: 5px;
}