@import url("resets.css");
 .display {
    background-color: green;
    color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    width: 400px;
    height: 200px;
    margin: 40px auto;
    padding: 20px;
}