@import url("resets.css");
@import url("print.css") print;
 body {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
}
.container {
    width: 900px;
    margin: 0 auto;
}
/* ---------- HEADER ------------ */

header {
    width: 100%;
    padding: 20px 0;
}
header h1 {
    background-color: #E8117F;
    color: white;
    padding: 20px 10px;
    text-align: center;
    text-transform: uppercase;
    width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
}
header h3 {
    color: #999;
    font-size: 26px;
    line-height: 34px;
    text-align: center;
}
header h3 span {
    color: #E8117F;
}
/* ------------ NAVIGATION -------------- */

nav.small-menu {
    display: none;
}
.main-menu {
    width: 96%;
    border: 1px solid #eee;
    border-left: none;
    border-right: none;
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
}
.main-menu ul {
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
}
.main-menu ul li {
    float: left;
    margin-right: 20px;
}
.main-menu ul li a {
    text-decoration: none;
    color: #999;
}
.main-menu ul li a.active {
    color: #333;
    font-weight: bold;
}
/* ------------ MAIN CONTENT -------------- */

.main-content,
.sidebar {
    float: left;
    box-sizing: border-box;
}
.main-content {
    box-sizing: border-box;
    width: 600px;
    padding-right: 20px;
}
.sidebar {
    width: 300px;
}
dt {
    float: left;
    width: 60px;
    height: 60px;
    background-color: #777;
    color: #fff;
    font-size: 40px;
    border-radius: 100px;
    text-align: center;
    line-height: 60px;
}
dd {
    margin-left: 70px;
    margin-bottom: 30px;
}
dd h4 {
    font-weight: bold;
    margin-bottom: 5px;
}
.blog-posts {
    margin-top: 20px;
}
.blog-posts h3 {
    margin-bottom: 5px;
    font-weight: bold;
}
.blog-posts ul {
    list-style: none;
}
.blog-posts ul li {
    border-bottom: 1px solid #999;
    padding: 5px;
    font-size: 12px;
}
.blog-posts ul li:nth-child(even) {
    background-color: #eee;
}
.blog-posts ul li:nth-child(odd) {
    background-color: #ddd;
}
.blog-posts .date {
    color: #777;
    font-size: 10px;
    font-style: italic;
}
/* -------------- MEDIA QUERIES -------------*/

@media (max-width: 960px) {
    .container {
        width: auto;
        max-width: 800px;
    }
    .main-content {
        width: 67%;
    }
    .sidebar {
        width: 33%;
    }
    .advertisement img {
        width: 100%;
    }
}
@media (max-width: 500px) {
    body {
        padding: 0 5px;
    }
    dt {
        width: 30px;
        height: 30px;
        font-size: 26px;
        line-height: 30px;
    }
    dd {
        margin-left: 45px;
    }
    .main-menu {
        position: fixed;
        top: 0;
        left: 0;
        background-color: #999;
        width: 200px;
        border: none;
        margin: 0;
        margin-bottom: 0;
        padding: 10px;
        height: 100%;
        margin-left: -100%;
    }
    .main-menu ul {
        margin: 0;
        margin-top: 20px;
    }
    .main-menu ul li {
        float: none;
        margin-right: 0;
        margin-bottom: 20px;
    }
    .main-menu ul li a {
        color: #fff;
    }
    .main-menu ul li a.active {
        color: #000;
    }
    nav.small-menu {
        display: block;
        background-color: #777;
        color: white;
        width: 100%;
        box-sizing: content-box;
        padding: 10px 5px;
        position: relative;
        left: -5px;
        text-align: right;
    }
}